@{
    ViewData["Title"] = "My Podcasts";
}

<div class="text-center">
    <h1 class="display-4">My Podcasts</h1>
    <br />
    <form id="Form1" runat="server">

        <h3>BaconSale Podcast</h3>

        Click on the HyperLink:<br />

        <a href="https://baconsale.com/">BaconSale Podcast</a>
    </form>
</div>
